body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #FCFCFF;
}

#result {
    font-size: 24px;
    margin-top: 20px;
}

#bottomIcon {
    margin-top: 20px;
    font-size: 100px; /* Justera storleken efter behov */
}

#heartIcon {
    margin: 20px 5px 0 5px;
    font-size: 30px; /* Justera storleken efter behov */
    color: red;
}

#bottomImage {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 300px;
    max-height: 300px;
}
