body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

#result {
    font-size: 24px;
    margin-top: 20px;
}

#bottomIcon {
    margin-top: 20px;
    font-size: 100px; /* Justera storleken efter behov */
}

#bottomImage {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 300px;
    max-height: 300px;
}